

.container {
  max-width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-align: center;
  width: 60%;
  margin: auto;
}
.heading h1 {
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}
.heading p {
  color: #72809d;
}

.background {
  padding: 80px 0;
  position: relative;
  background: #f7f9fc;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.mtop {
  margin-top: 50px;
}

.shadow {
  box-shadow:  0 5px 25px -2px rgb(0 0 0 / 6%);
}
.padding {
  padding: 80px 0;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
/* img {
  width: 100%;
  height: 100%;
  cursor: pointer;
} */
.btn2 {
  border-radius: 50px;
  font-size: 16px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.btn3 {
  background: #ff6922;
  border-radius: 50px;
}
.btn4 {
  background-color: #000;
  color: #fff;
}
.btn5 {
  border-radius: 50px;
  padding: 20px 40px;
  color: #27ae60;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}
.slotBtn {
  border-radius: 50px;
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #27ae60;
  color: #27ae60;
  cursor: pointer;
 
}

.disabledBtn {
  background-color: gray;
  /* You can customize the styles for the disabled state */
  opacity: 0.7;
  cursor: not-allowed;
}

.back {
  height: 40vh;
  position: relative;
}
/* .back img {
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
} */
.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(17, 40, 72, 0.629);
  z-index: -1;
}
.back .container {
  color: #fff;
  padding: 120px 0;
}
.back h1 {
  font-size: 40px;
  font-weight: 500;
}
.mb {
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading {
    width: 100%;
  }
  .container {
    max-width: 90%;
  }
  /* .back::after,
  .back img,
  .back {
    height: 30vh;
  } */
}

  
  .featured .box {
	box-shadow:  0 5px 25px -2px rgb(0 0 0 / 6%);
	border-radius: 6px;
	text-align: center;
	padding: 30px;
	cursor: pointer;
  
  }
  /* .featured img {
	width: 65px;
	height: 65px;
	margin: auto;
  }
   */


  .awards {
	background-color: #122947;
	color: #fff;
	text-align: center;
  }
  .awards .heading {
	display: flex;
	flex-direction: column-reverse;
  }
  .awards .heading p {
	color: #27ae60;
  }
  .awards .heading h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
  }
  .awards .icon {
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: auto;
	margin-top: 50px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4% 50%;
	font-size: 32px;
	color: #ffffff;
  }
  .awards h1 {
	font-size: 50px;
  }
  .awards p {
	color: grey;
  }
  

  .recent .text {
    padding: 30px;
  }
  .recent .category span {
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
  }
  .recent .category i {
    font-size: 20px;
    color: #bec7d8;
  }
  .recent h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .recent p {
    color: #72809d;
    font-size: 15px;
  }
  .recent .button {
    border-top: 1px solid #e4e8f3;
    padding: 10px 30px;
  }
  /* .service_title{
    font-size: 15px;
    font-family: 300;
  }
  */

  .service-details-container {
    
    padding: 20px;
    border-radius: 8px;
   
  }
  
  .detail-item {
    margin-bottom: 15px;
  }
  
  .detail-title {
    font-size: 18px;
    font-weight: bold;
  
  }
  
  

  .footerContact {
    background-color: #27ae60;
    padding: 40px 0;
    color: #fff;
  }
  .footerContact h1 {
    font-size: 40px;
  }

  .legal {
    text-align: center;
    padding: 20px;
    background: #1d2636;
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  @media screen and (max-width: 800px) {
    footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  


  .team .box {
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid rgb(62 28 131 / 10%);
    padding: 2rem;
    transition: 0.5s;
    margin-top: 30px;

   
  }

  .team .box:hover {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    cursor: pointer;
  }
  .team .details {
    text-align: center;
   

  }
  /* .team .img {
    width: 90px;
    height: 90px;
    margin: auto;
    position: relative;
  } */
  /* .team img {
    width: 90px;
    height: 90px;
    border-radius: 80%;
  } */
  /* .team .img i {
    color: #108be7;
    font-size: 17px;
    position: absolute;
    top: 35px;
    right: -10px;
  } */
  /* .team .img::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 110px;
    height: 110px;
    border: 5px solid #edf0f5;
    border-radius: 50%;
  } */
  .team label {
    display: inline-block;
    margin-top: 20px;
  }
  .team i {
    color: grey;
    margin-right: 5px;
  }
  .team ul {
    display: inline-block;
    margin-top: 10px;
  }
  .team ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    align-items: center;
    background-color: #f4f5f7;
    border-radius: 50%;
    margin: 5px;
  }
  .team .button {
    margin-top: 20px;
  }
  .team .button i {
    color: white;
    font-size: 20px;
  }
  

  .image_wrapper {
    margin: 0px 30px;
  }
  
  /* .image_wrapper img {
    width: 80%;
  } */


  .testimonal .items {
    padding: 30px;
    transition: 0.5s;
  }
  
  /* .testimonal .img {
    position: relative;
  } */
  /* .testimonal img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  } */
  .testimonal i {
    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: #27ae60;
    color: #fff;
  }
  .testimonal .name {
    margin: 25px;
  }
  .testimonal .name h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .testimonal .name span {
    color: #27ae60;
  }
  .testimonal p {
    margin-top: 4px;
    color: grey;
    transition: 0.5s;
  }
  .testimonal .items:hover {
    background-color: #27ae60;
    color: #fff;
    cursor: pointer;
  }
  .testimonal .items:hover span,
  .testimonal .items:hover p {
    color: #fff;
  }
  .testimonal .items:hover i {
    background-color: #fff;
    color: #27ae60;
  }
  
 

.flexSB {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #27ae60;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color: #27ae60;
  color: #fff;
}

.row {
  width: 50%;
}



.margin {
  margin-top: 40.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #27ae60;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #27ae60;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .Service_img{
    width: 100%;
  }
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}


@media (min-width: 1200px) {
  .margin-lg {
    margin-left: 20px;
  }
}