.testimonal {
  background-color: #27ae60;
  border-radius: 5%;
}
.testimonal .heading  {
	color: #fff !important;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 40px !important;
  }
.testimonal .items {
 padding: 30px;
 transition: 0.5s;
 height: 320px;
 border-radius: 5%;
   
  }
.testimonal .name {
    margin: 25px;
  }
.testimonal .name h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
.testimonal .name span {
    color: #27ae60;
  }
.testimonal p {
    margin-top: 4px;
    color: grey;
    transition: 0.5s;
  }
.testimonal .mtop {
    margin-top: 30px;
  }
.flex{
  display: flex;
  align-items: center; 
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #27ae60;
  transition: 0.5s;
}
 .padding {
  padding: 40px 0;
}
.testimonal .shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  background-color: #fff;
}
