@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .heading h1 {
    font-size: 20px;
  }
}

/* Small devices (phones, 0px to 767px) */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .heading h1 {
    font-size: 25px;
  }
}
.container {
  max-width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
button {
  border-radius: 5px;
  padding: 12px 20px;
  background: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
button i {
  margin-right: 5px;
}
.heading {
  text-align: center;
  width: 60%;
  margin: auto;
}
.heading h1 {
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}
.heading p {
  color: #72809d;
}
textarea,
input {
  border: none;
  outline: none;
  background: none;
}
.background {
  padding: 80px 0;
  position: relative;
  background: #f7f9fc;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}
label {
  color: #2d3954;
  font-size: 14px;
}
.mtop {
  margin-top: 50px;
}
h4 {
  font-weight: 500;
  /* margin-top: 10px; */
}
.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
.padding {
  padding: 80px 0;
}
.awards-padding {
  padding-top:30px;
  padding-bottom: 80px;
}

.padding-bottom {
  padding-bottom: 80px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
/* img {
  width: 100%;
  height: 100%;
  cursor: pointer;
} */
.btn2 {
  border-radius: 50px;
  font-size: 16px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.btn3 {
  background: #ff6922;
  border-radius: 50px;
}
.btn4 {
  background-color: #000;
  color: #fff;
}
.btn5 {
  border-radius: 50px;
  padding: 20px 40px;
  color: #27ae60;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}


.mb {
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading {
    width: 100%;
  }
  .container {
    max-width: 90%;
  }
  /* .back::after,
  .back img,
  .back {
    height: 30vh;
  } */
}


header {
	background-color: #fff;
	height: 11vh;
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
	padding: 15px 0;
	position: sticky;
	top: 0;
	z-index: 99999;
 
  }
  header img {
	width: 170px;
  }
  header a {
	margin-left: 30px;
	transition: 0.5s;
	font-weight: 500;
  }
  header a:hover {
	color: #27ae60;
  }
  header span {
	width: auto;
	padding: 0px 6px;
	background: #27ae60;
	border-radius: 50px;
	color: #ffffff;
	margin-right: 4px;
	font-weight: 400;
  }
  header h4 {
	font-weight: 500;
	margin-right: 20px;
  }
  header .toggle {
	display: none;
  }
  @media screen and (max-width: 768px) {
	header {
	  padding: 0;
	}
	header img {
	  /* margin-top: 30px; */
	}
	header .button {
	  display: none;
	}
	header .nav .flex {
	  display: none;
	}
	header .toggle {
	  display: block;
	  margin-top: 05px;
	}
	.toggle button {
		font-size: 15px;
		width: 100%;
		height: 35px;
		
	}
	header .small {
	  position: absolute;
	  top: 10vh;
	  left: 0;
	  width: 100%;
	  background-color: #27ae60;
	  padding: 20px;
	}
	header li a {
	  display: inline-block;
	  margin-bottom: 20px;
	  color: #fff;
	}
  }
  
  .featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
	border-radius: 6px;
	text-align: center;
	padding: 30px;
	cursor: pointer;
  
  }
 

  .recent .text {
    padding: 30px;
  }
  .recent .category span {
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
  }
  .recent .category i {
    font-size: 20px;
    color: #bec7d8;
  }
  .recent h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .recent p {
    color: #72809d;
    font-size: 15px;
  }
  .recent .button {
    border-top: 1px solid #e4e8f3;
    padding: 10px 30px;
  }


  .service-details-container {
    
    padding: 20px;
    border-radius: 8px;
   
  }
  
  .detail-item {
    margin-bottom: 15px;
  }
  
  .detail-title {
    font-size: 18px;
    font-weight: bold;
  
  }
  
  

  .footerContact {
    background-color: #27ae60;
    padding: 40px 0;
    color: #fff;
  }
  .footerContact h1 {
    font-size: 40px;
  }
  footer {
    background-color: #1d2636;
    padding: 50px 0;
    color: #fff;
  }
  footer .container {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 1fr;
    grid-gap: 20px;
  }
  /* footer img {
    width: 150px;
  } */
  footer h2 {
    font-weight: 500;
  }
  footer p {
    color: grey;
    margin: 20px 0;
  }
  footer input {
    background-color: #fff;
    padding: 17px;
    width: 100%;
    border-radius: 5px;
  }
  footer h3 {
    font-weight: 500;
    margin-bottom: 30px;
  }
  footer ul {
    display: block;
  }
  footer ul li {
    display: block;
    color: grey;
    margin-bottom: 20px;
  }
  .legal {
    text-align: center;
    padding: 20px;
    background: #1d2636;
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  @media screen and (max-width: 800px) {
    footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  





.margin {
  margin-top: 40.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #27ae60;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #27ae60;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .Service_img{
    width: 100%;
  }
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}


@media (min-width: 1200px) {
  .margin-lg {
    margin-left: 20px;
  }
}